.Timer {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;

  font-size: 26px;
  font-weight: 700;

  button {
    padding: 5px 50px;
    margin-right: 20px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: steelblue;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 250ms;

    &:hover,
    &:focus {
      background-color: #2472b2;
    }

    &:disabled {
      cursor: default;
      background-color: gray;
    }

    & __active {
      background-color: tomato;

      &:hover,
      &:focus {
        background-color: tomato;
      }
    }
  }
}
