.Form {
  display: flex;

  label {
    display: flex;
    padding-bottom: 20px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 700;
  }

  button {
    padding: 5px 50px;
    margin-bottom: 20px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: steelblue;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 250ms;

    &:hover,
    &:focus {
      background-color: #2472b2;
    }
  }

  Field {
    width: 200px;
    color: darkblue;
  }
}

.Error {
  color: tomato;
}

.InputWrap {
  display: inline-flex;
  margin-right: 30px;

  label {
    display: flex;
    padding-bottom: 20px;

    font-size: 18px;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.Btn {
  padding: 5px 50px;
  margin-bottom: 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: steelblue;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 250ms;

  &:hover,
  &:focus {
    background-color: #2472b2;
  }
}

.Table {
  box-shadow: 2px 2px 2px 2px gray;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;

  tr {
    background-color: white;
    text-align: center;
    font-size: 18px;

    &:nth-child(2n) {
      background-color: #efeeee;
    }

    th {
      min-width: 250px;
      &:last-of-type {
        width: 100%;
      }
      padding: 10px;
      color: white;
      background-color: steelblue;
      text-transform: uppercase;

      &:not(:first-of-type) {
        border-left: 1px solid white;
      }
    }

    td {
      padding: 15px;
      color: gray;
      text-transform: capitalize;

      &:nth-of-type(3) {
        text-transform: uppercase;
      }

      &:last-of-type {
        display: flex;
        justify-content: space-between;
      }

      &:not(:first-of-type) {
        border-left: 1px solid lightgrey;
      }
      button {
        padding: 5px 50px;

        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        background-color: steelblue;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        transition: background-color 250ms;

        &:hover,
        &:focus {
          background-color: #2472b2;
        }
      }
    }
  }
}
